#pragma once

#include "cc_mqttsn/options/ClientDefaultOptions.h"
#include "cc_mqttsn/Version.h"

#include <tuple>

namespace cc_mqttsn_client
{

class ProtocolOptions : public cc_mqttsn::options::ClientDefaultOptions
{
    using BaseImpl = cc_mqttsn::options::ClientDefaultOptions;

public:
};

} // namespace cc_mqttsn_client
