# Configuration file for MQTT-SN gateway application

# =================================================================
# General configuration
# =================================================================

# Gateway ID, reported in ADVERTISE and GWINFO messages. Default value is 0.
#mqttsn_gw_id 0

# Advertise period (in seconds), when gateway is expected to advertise its 
# presence by broadcasting ADVERTISE message. Default value is 900 (=15 min).
# This value can be set to 0, which will indicate that gateway supports only
# direct connections and doesn't advertise its presence to others.
#mqttsn_advertise 900

# Time in seconds to wait before re-sending message, acknowledgement of which 
# needs to be received. The same time interval is used to resend messages to 
# both client / broker directions. Default value is 10 seconds.
#mqttsn_retry_period 10

# Number of attempts to try to re-send a message, acknowledgement of which needs
# to be received. Default value is 3. 
#mqttsn_retry_count 3

# In some use-cases, with interfaces such as RS-232 and/or some bluetooth links, 
# there is only one MQTT-SN client that can be connected to the gateway. In this
# case the client may omit its client ID information in the CONNECT message 
# to save the amount of traffic. When forwarding the connection request to the
# broker, gateway may replace empty client ID with some predefined value. Use
# "mqttsn_default_client_id" option to specify such default client ID.
#mqttsn_default_client_id

# The gateway supports "publish only" clients, that do not attempt to connect
# to the gateway, and don't subscribe to any topics. Such clients are allowed to
# publish predefined topics with QoS=-1. The gateway connects to broker on
# behalf to such client. In addition to setting "mqttsn_default_client_id" value
# the gateway may be configured to set "keep alive" period in which client must
# send at least one message. Use "mqttsn_pub_only_keep_alive" option to set
# the value keep alive period in seconds. The default value is 60.
#mqttsn_pub_only_keep_alive 60

# Gateway may support sleeping clients. When client is sleeping, the broker 
# may publish the message to the client. The gateway is responsible to store
# these messages and report them to the client, when the latter wakes up. It
# is possible to set a limit on number of such stored messages using 
# "mqttsn_sleeping_client_msg_limit" option.
#mqttsn_sleeping_client_msg_limit 1024

# List of predefined ids can be specified using multiple 
# "mqttsn_predefined_topic" options. This option is expected to have 3 
# parameters: client ID, topic string, and topic ID. The common predefined
# topic ID for all the possible clients may be specified using '*' as 
# client ID parameter.
#mqttsn_predefined_topic client1 predefined/topic/client1 1
#mqttsn_predefined_topic * common/predefined/topic 2
 
# MQTT protocol supports client authentication using username and password,
# while MQTT-SN doesn't have such option. The gateway may be configured to
# use some authentication information when forwarding connection requests to
# the broker. Such authentication information may be specified using
# "mqttsn_auth" option. This option is expected to have 3 parameters:
# client ID, username string, password string. Note, that MQTT protocol 
# specifies password as binary data. The password string parameter will be used 
# as is unless it uses "\x" prefix for every binary byte. Just like with
# "mqttsn_predefined_topic" option, the client ID may also be a wildcard ('*').
#mqttsn_auth client1 username1 ascii_password
#mqttsn_auth client2 username2 \x00\x01\x02\x03\x04\x05

# The gateway is responsible to allocate topic IDs for published topics. It is
# possible to limit the range of such ID values using 
# "mqttsn_topic_id_alloc_range" option. It receives two parameters of minimal
# and maximal numeric ID. Note, that valid IDs must be in range [1 - 65534].
#mqttsn_topic_id_alloc_range 1000 5000

# The connection to MQTT broker is usually performed over TCP/IP link.
# Use "mqttsn_broker" option to specify the address of the broker.
# The option receives two parameters: address and port. The default values are
# 127.0.0.1 and 1883 respectively.
#mqttsn_broker 127.0.0.1 1883

# =================================================================
# Client socket configuration
# =================================================================

# Use "mqttsn_client_socket" option to specify the type of the I/O link socket
# to use. Supported values are: "udp" (default)
# mqttsn_client_socket udp

# =================================================================
# UDP configuration
# =================================================================

# Local UDP port the gateway listens to new incomming messages on. Default is
# 1883. Applicable only if "mqttsn_client_socket" is "udp".
#udp_listen_port 1883

# Remote UDP port the gateway broadcasts its ADVERTISE messages to. Default is
# 1883. Applicable only if "mqttsn_client_socket" is "udp".
#udp_broadcast_port 1883 
